<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= docTitle %> </title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="container-fluid main-header">
    <div class="row">
      <div class="col-10 main-header--col">
        <a class="main-header--me caps" href="/">
          <h1>Will Martin</h1>
        </a>
        <ul class="main-header--nav caps">
          <a href="about">
            <li class="<%= path==='about' ? 'active main-header--nav-item' : 'main-header--nav-item' %>">about
            </li>
          </a>
          <a href="blog">
            <li class="<%= path==='blog' ? 'active main-header--nav-item' : 'main-header--nav-item' %>">blog</li>
          </a>
          <a href="portfolio">
            <li class="<%= path==='portfolio' ? 'active main-header--nav-item' : 'main-header--nav-item' %>">portfolio</li>
          </a>
          <a href="contact">
            <li class="<%= path==='contact' ? 'active main-header--nav-item' : 'main-header--nav-item' %>">contact</li>
          </a>
      </div>
    </div>
    <div class="row">
      <div class="col-10 main-header--col">
        <p class="main-header--title">full stack web developer</p>
      </div>
    </div>

  </div>