<%- include _header %>

<div class="container-fluid">
    <div class="row">
        <div class="col-10 col-middle">
            <h1> <%= post.title %> </h1>
            <div class="image">
                <img src="<%= post.imageUrl %>" alt="<%= post.title %>"> 
            </div>
            <p><%- post.body %></p>

        </div>
    </div>    
</div>

<%- include _footer %>