<%- include _header %>

<div class="container-fluid">
    <div class="row">
        <div class="col-10 col-middle">
            <h1> <%= post.title %> </h1>
            <div class="image">
                <img src="<%= post.imageUrl %>" alt="<%= post.title %>">
            </div>
            <p><%- post.body %></p>

            <form action="/admin/blog-detail-admin" method="POST">
                <button class="btn btn--blog-detail" type="submit"><span class="btn--blog-detail-text">
                    Modify Post
                </span></button>
                <input type="hidden" name="blogId" value="<%= post._id %>">
            </form>

            <form action="/admin/blog-detail-admin" method="POST">
                <button class="btn btn-danger btn--blog-detail" type="submit"><span class="btn--blog-detail-text">Delete Post</span></button>
                <input type="hidden" name="blogId" value="<%= post._id %>">
            </form>

        </div>
    </div>
</div>

<%- include _footer %>