<%- include _header %>

<div class="container-fluid">
    <div class="row">
        <div class="col-middle">
            <div class="blog-post">
                <div class="blog-post--header">
                    <h1 class="blog-post--title"><%= posts[posts.length - 1].title %></h1>
                </div>
                <div class="blog-post--info">
                    <p>
                        posted <%= posts[posts.length - 1].date %> by William Martin
                    </p>
                </div>
                <div>
                    <img class="blog-post--image" src="https://via.placeholder.com/700x500" alt="">
                </div>
                <div class="blog-post--body">
                    <%- posts[posts.length - 1].body %>
                </div>
            </div>
        </div>
    </div>    
</div>

<%- include _footer %>